@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

body {
    background-color: gray;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}


.KomaruClicker {
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.Komaru_Game {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
    border: 2px solid white;
}

.info {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.title{
    background-color: black;
}